
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,900&family=Mr+Bedfort&family=Petit+Formal+Script&family=Poppins:wght@200;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/* navigation links */
nav{
    width: 100%;
    height: 75px;
    background-color: black;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;


}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;

}
nav .logo p{
    float: left;
    color: #fff;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color:red;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
}
nav ul li a:hover{
    color: #fff;
}
nav ul li  .active{
    color: red;
}
/*  image and cover  */
.image img{
    width: 100%;
    height: 700px;
    opacity: 0.80;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
