
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,900&family=Mr+Bedfort&family=Petit+Formal+Script&family=Poppins:wght@200;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/* navigation links */
nav{
    width: 100%;
    height: 75px;
    background-color: black;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;


}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;

}
nav .logo p{
    float: left;
    color: #fff;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color:red;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
}
nav ul li a:hover{
    color: #fff;
}
nav ul li  .active{
    color: red;
}
/*  image and cover  */
.image img{
    width: 100%;
    height: 700px;
    opacity: 0.80;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    color:black;
  
  }
/* about*/
.about {
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 420px;


}
.about-text {
    width: 550px;
}  
.main {
width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}
.about-text h1{
    color: #fff;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color:#fff;
    font-size:25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;;

}
span {
color: red;
    }
    .about-text p{
        color:#fcfc;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom:45px;
    }
    /* about-button*/
button{
    background: #f9004d;
    color:#fff;
    text-decoration: none;
    border: 2px solid trnsparnt;
    font-weight: blod;
    padding: 13px 30px;
    transition:.45;
    border-radius: 30px;
    transition: .4s;




}
button:hover{
    background: trnsparnt;
    border: 2px sloid #f90ddd;
    cursor: pointer;


}
/* setion-contaact-us*/
.contact{
    background-color: #101010;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    padding-right: 15%;
    padding-left: 15%;
  
}
.contact-form h1{
    font-size: 80px; 
    color: #fff;
    margin-bottom: 20px;

}
.contact-form p{
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}
.contact-form form{
    position: center;

}
.contact-form form input, form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background-color: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contact-form textarea{
    resize:none;
    height:200px;

}
.contact-form form .btn{
    display: flex;
    background-color:#f9004d;
    font-size:1.1rem;
    letter-spacing:1px;
    text-transform: uppercase;
    font-weight:600;
    border:2px solid transparent;
    border-radius: 10px;
    width:220px;
    transition: ease .20s;
    cursor: pointer;


}
.contact-form form .btn:hover{
    border:2px solid #f9004d;
    background-color: transparent;
    transform: scale(1.1);
}
/* footer */


