
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,900&family=Mr+Bedfort&family=Petit+Formal+Script&family=Poppins:wght@200;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;

}
.nav{
    width: 700px;
    height: 75px;
    background-color: #505d61;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;

}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1,5px;
}
